<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="1800 seconds" debug="false">

    <!-- <include resource="org/springframework/boot/logging/logback/base.xml" /> -->
	 
	<timestamp key="byDay" datePattern="yyyy-MM-dd" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- <file>${LOG_FILE}</file>  -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_FILE}-%d{yyyy-MM-dd_HH}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>10MB</maxFileSize>
		</triggeringPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss} [%thread] %logger{36} - %msg%n
			</pattern>
		</layout>
	</appender> 

	<logger name="hbc315.HIDC" level="WARN" additivity="true">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>
	
	<springProfile name="staging">
		<logger name="hbc315.HIDC" level="TRACE" />
	</springProfile>

	<root level="WARN">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>	
</configuration>